 html {
    display: flex;
 }

 body {
     background-color: #636668;
     width: 100%;
     margin: 0%;
 }

 img {
    width:250px;
    height:600p;
 }

 .wrapper {
     width: 400px;
     padding: 50px 40px;
     background-color: #000000;
     position: absolute;
     transform: translate(-50%, -50%);
     top: 50%;
     left: 50%;
     border-radius: 5px;
     box-shadow: 20px 20px 40px rgba(97, 63, 0, 0.4);
 }

 span {
     text-align: center;
     margin-top: -30px;
     color: #f1eded;
     font-size: 25px;
     font-family: sans-serif;
     font-weight: 500;
 }


 /* .fade {
     opacity: 1;
     transition: opacity 0.1s;
 } */



 /* div {
     text-align: center;
     font-size: 30px;
     color: white;
     display: flex;

 } */

 .options {
     background-color: rgb(255, 255, 255);
     align-items: left;
     justify-content: center;
     width: 15%;
     min-height: 100%;
     float: left;

 }

 .content {
     background-color: rgb(133, 133, 61);
     width: 85%;
     height: 100%;
     /* display:block; */
     float: right;
     text-align: center;

 }

 .picformat {
    align-self: center;
    justify-self: center;
    
 }

 /* h1 {
    background-image: url("https://www.gannett-cdn.com/presto/2018/11/08/USAT/6eeba0d5-e387-4cd1-80bc-740dd3586b07-XXX_E_COMING_ATTRACTIONS_06_WALKER.JPG?crop=1606%2C919%2Cx0%2Cy0&width=1200");
 }*/ 

 .picoptions {
    /* padding-top: 25%; */
    /* padding-left: 42%; */
    justify-self: center;
 }

 button {
     display: block;
     font-size: 18px;
     color: #e7e7ec;
     font-weight: 500;
     padding: 12px 25px;
     margin: 0 auto;
     border-radius: 5px;
     background-color: #cf2828;
     border: none;
     padding: 5px;
     cursor: pointer;
     outline: none;
     height: 50px;
     width: 100px;

 }